extends ../layout/common
block content
    if(errors)
        each er in errors
            .alert.alert-danger(role='alert')= er 
    .container
        h1.mt-5 Add student
        form(action="/student/add", method="post")
            .form-group
                label(for='exampleInputName') Student name
                input#exampleInputName.form-control(type='text', placeholder='Enter Name',name="name")
            .form-group
                label(for='exampleInputPhone') Password
                input#exampleInputPhone.form-control(type='text', placeholder='Phone Number',name="phone")
            button.btn.btn-primary(type='submit') AddNew