form(action="/student/search", method="get")
    input(type="text",name="name",value=key)
    button Search
    

ul
    each s in students
        li
            span= s.name
            a(href="/student/detail/"+s.id) Detail

a(href="/student/add") add
