extends ../layout/common.pug
block content

    form.form-inline.mx-auto.mt-md-5(action="/student/search", method="get")
        div.form-group.mx-sm-3.mb-2
            label.sr-only(for='inputPassword2') Search
            input#inputPassword2.form-control(type='password', placeholder='key word')
        button.btn.btn-primary.mb-2(type='submit') Search
    table.table.mt-5.mb-5
        thead
            tr
                th(scope='col') Id
                th(scope='col') Name
                th(scope='col') Phone
                th(scope='col') 
        tbody
            each s in students
                tr
                    th(scope='row')= s.id
                    td= s.name
                    td= s.phone
                    td
                        a.btn.btn-primary(href="/student/detail/"+s.id) Detail
    img(src="/image/soda1.jpg")
    img(src="/image/soda2.jpg")
    img(src="/image/soda3.jpg")